h1{
    border-top: 2px solid purple;
    color:whitesmoke;
    
}
h2{
    padding: 35px;
    color: whitesmoke;
}

body {
  background: url('http://cmster.com/media/In1DyPcXb6ri5nvIeGF4jOdTkjF5eOws9UOF5XcQX81VBhcysAnjEEJ3KgcPKh3N.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}